@import "tailwindcss";

html {
  font-size: 16px;
}

a.active {
  color: green;
  border-bottom: 3px solid green;
  transition: border-bottom-width 0.4s ease;
}

@custom-variant dark (&:where(.dark, .dark *));
