@import "tailwindcss";

html {
  font-size: 16px;
}

a.active {
  color: green;
  border-bottom: 3px solid green;
  transition: border-bottom-width 0.4s ease;
}

.dark a.active {
  color: rgba(30, 41, 57);
  border-bottom: 3px solid rgba(30, 41, 57);
}

.main-title {
  text-align: center;
  font-size: 3.75rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  font-weight: 600;
}

.dark .main-title {
  color: white;
}

.wrapper {
  min-height: 95vh;
  padding-bottom: 3rem;
}

.dark .wrapper {
  background-color: rgba(30, 41, 57);
}

#root,
#root * {
  transition: all 0.3s ease-out;
}

@custom-variant dark (&:where(.dark, .dark *));
